:root{
  --mrg: 40%
}

html, body {
  height: 100%;
}

.msg-layout {
  height: 80%;
}

.container {
  height: 100%;
}

.message-box {
  padding: 10px;
  /* border-radius: 50%; */
}

.message-incoming {
  width: 50%;
  background-color: aliceblue;
}

.message-outgoing {
  width: 50%;
  margin-left: 50%;
}